.container {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 227px;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.form label {
  font-size: 1.2rem;
}

.input, .button, .result {
  width: 100%;
  max-width: 400px;
  border: 0;
  border-radius: .4rem;
}

.input, .button {
  height: 3rem;
  margin-bottom: 1.4rem;
  margin-top: .5rem;
}

.input {
  font-size: 1.1rem;
  padding: 0 1.2rem;
}
.button {
  background-color: #07285e;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}

.result {
  padding: 1.2rem 1rem;
  background-color: #00b63e;
  max-width: 420px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.result-title {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: .8rem;
}

.result span {
  font-size: .9rem;
  margin-bottom: .3rem;
}